<!-- <h1>Bienvenido!</h1> -->

<main class="d-flex">
    <section class="col-left">
        <div>
            <h1 class="display-3">BEEUtils</h1>
            <p class="lead">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Molestias, facere? Eos iusto minus, quidem, sed cupiditate eum, distinctio illo nostrum labore tempora ullam facilis quam voluptas vero optio nihil modi.</p>
        </div>
        <div class="img-container">
            <img src="../../../../assets/database-img.png" alt="imagen fondo">
        </div>
    </section>
    <section class="col-rigth">
        <h2 class="h2">Bienvenido crack !</h2>
        <button mat-stroked-button routerLink='/create'>Ingresar</button>
    </section>
</main>
